In [1]:
import pandas as pd

# 3.1.5 Practical activity Create and merge DataFrames

In [2]:
# Read the CSV file.
ott_merge = pd.read_csv('ott_merge.csv')

# Determine shape of classlist.
print(ott_merge.shape)
ott_merge.head()

(16744, 5)

   ID  Netflix  Hulu  Prime Video  Disney+
0   1        0     0            1        0
1   2        0     1            0        0
2   3        0     0            1        0
3   4        1     0            0        0
4   5        0     0            1        0

In [3]:
# Read the Excel file.
movies_merge = pd.read_excel('movies_merge.xlsx')

# Determine shape of classlist.
print(movies_merge.shape)
movies_merge.head()

(16744, 11)

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Directors,Genres,Country,Language,Runtime
0,1,Inception,2010,13+,8.8,0.87,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,2,The Matrix,1999,18+,8.7,0.87,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,3,Avengers: Infinity War,2018,13+,8.5,0.84,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,4,Back to the Future,1985,7+,8.5,0.96,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,0.97,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [4]:
# understanding the data types
ott_merge.dtypes

ID             int64
Netflix        int64
Hulu           int64
Prime Video    int64
Disney+        int64
dtype: object

In [5]:
# understanding the data types
movies_merge.dtypes

ID                   int64
Title               object
Year                 int64
Age                 object
IMDb               float64
Rotten Tomatoes    float64
Directors           object
Genres              object
Country             object
Language            object
Runtime            float64
dtype: object

In [6]:
movies_final = movies_merge.merge(ott_merge, how='left', on='ID')
movies_final.head()

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Directors,Genres,Country,Language,Runtime,Netflix,Hulu,Prime Video,Disney+
0,1,Inception,2010,13+,8.8,0.87,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0,0,0,1,0
1,2,The Matrix,1999,18+,8.7,0.87,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0,0,1,0,0
2,3,Avengers: Infinity War,2018,13+,8.5,0.84,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0,0,0,1,0
3,4,Back to the Future,1985,7+,8.5,0.96,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0,1,0,0,0
4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,0.97,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0,0,0,1,0

In [7]:
print(movies_final.shape)

(16744, 15)

In [8]:
movies_concat = pd.concat([movies_merge, ott_merge], axis=0)
movies_concat.head()

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Directors,Genres,Country,Language,Runtime,Netflix,Hulu,Prime Video,Disney+
0,1,Inception,2010.0,13+,8.8,0.87,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0,NaN,NaN,NaN,NaN
1,2,The Matrix,1999.0,18+,8.7,0.87,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0,NaN,NaN,NaN,NaN
2,3,Avengers: Infinity War,2018.0,13+,8.5,0.84,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0,NaN,NaN,NaN,NaN
3,4,Back to the Future,1985.0,7+,8.5,0.96,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0,NaN,NaN,NaN,NaN
4,5,"The Good, the Bad and the Ugly",1966.0,18+,8.8,0.97,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0,NaN,NaN,NaN,NaN

In [9]:
movies_concat.shape

(33488, 15)

# Compare the outputs in terms of shape (number of rows and columns), column names, data types, and any errors you encountered

Merge is appropriate for joining these data frames, concat is not appropriate. Concat generates double the number of rows, as the data is not merged using ID. The OTT data is just added to the bottom of the table and not aligned with the movies_merge rows.

# 3.1.9 Practical activity: Use groupby() and aggregate() functions

Use the groupby() and aggregate() functions on the merged DataFrame to:

Determine how many films from each year (released from 2012 to the present) were watched on Netflix.
Determine what the average runtime is of movies released each year.
Determine what the best and worst reviews are that movies received on Rotten Tomatoes.
Approach

In [10]:
# Determine how many films from each year (released from 2012 to the present) were watched on Netflix.

movies_final_SUM = movies_final.groupby('Year')[['Netflix']] \
.sum().reset_index() \
.sort_values('Netflix', ascending=False)
movies_final_SUM[movies_final_SUM['Year'] >= 2012]

     Year  Netflix
106  2018      307
105  2017      294
103  2015      252
104  2016      236
102  2014      202
101  2013      200
100  2012      195
107  2019      138
108  2020       31

In [11]:
 # Determine what the average runtime is of movies released each year.
movies_final_AVG = movies_final.groupby('Year')[['Runtime']] \
.mean().reset_index() \
.sort_values('Runtime', ascending=False)  
movies_final_AVG[movies_final_AVG['Year'] >= 2012]

     Year    Runtime
106  2018  94.635678
105  2017  94.460961
104  2016  93.992140
108  2020  93.976562
107  2019  93.410413
102  2014  92.995763
103  2015  92.914646
101  2013  91.545940
100  2012  90.511714

In [13]:
# Determine the number of movies watched on Netflix since 2012.
mo_gpby = movies_final.groupby(['Year'])['Netflix'].agg('sum').reset_index()
mo_gpby[mo_gpby['Year'] >= 2012]

     Year  Netflix
100  2012      195
101  2013      200
102  2014      202
103  2015      252
104  2016      236
105  2017      294
106  2018      307
107  2019      138
108  2020       31

In [14]:
# Determine what the best and worst reviews are that movies received on Rotten Tomatoes.

movies_final.sort_values('Rotten Tomatoes', ascending=False)

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Directors,Genres,Country,Language,Runtime,Netflix,Hulu,Prime Video,Disney+
481,482,Dance Academy: The Movie,2017,NaN,7.0,1.0,Jeffrey Walker,Drama,"Germany,Australia",English,101.0,0,0,1,0
828,829,National Bird,2016,NaN,7.1,1.0,Sonia Kennebeck,Documentary,United States,"English,Dari",92.0,0,0,1,0
6507,6508,The Shelter,2015,NaN,3.6,1.0,María Lidón,"Drama,Sci-Fi",Spain,English,95.0,0,0,1,0
5249,5250,The Blood Is at the Doorstep,2017,NaN,6.5,1.0,Erik Ljung,Documentary,United States,English,90.0,0,0,1,0
3845,3846,Food Evolution,2017,7+,7.0,1.0,Scott Hamilton Kennedy,Documentary,United States,English,92.0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16739,16740,The Ghosts of Buxley Hall,1980,NaN,6.2,NaN,Bruce Bilson,"Comedy,Family,Fantasy,Horror",United States,English,120.0,0,0,1,0
16740,16741,The Poof Point,2001,7+,4.7,NaN,Neal Israel,"Comedy,Family,Sci-Fi",United States,English,90.0,0,0,1,0
16741,16742,Sharks of Lost Island,2013,NaN,5.7,NaN,Neil Gelinas,Documentary,United States,English,NaN,0,0,1,0
16742,16743,Man Among Cheetahs,2017,NaN,6.6,NaN,Richard Slater-Jones,Documentary,United States,English,NaN,0,0,1,0
16743,16744,In Beaver Valley,1950,NaN,NaN,NaN,James Algar,"Documentary,Short,Family",United States,English,32.0,1,0,0,0

In [15]:
movies_final.sort_values('Rotten Tomatoes', ascending=True)

,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Directors,Genres,Country,Language,Runtime,Netflix,Hulu,Prime Video,Disney+
8133,8134,Kickin' It Old Skool,2007,13+,4.6,0.02,Harvey Glazer,Comedy,"United States,Canada",English,108.0,0,0,1,0
6938,6939,Strange Wilderness,2008,18+,5.3,0.02,Fred Wolf,"Adventure,Comedy",United States,English,87.0,0,0,1,0
4208,4209,Getaway,2013,13+,4.4,0.02,Sam Peckinpah,"Action,Crime,Thriller",United States,"English,Spanish",123.0,0,0,1,0
4257,4258,Nina,2016,NaN,5.4,0.02,John Badham,"Action,Crime,Drama,Thriller",United States,"English,French",109.0,0,0,1,0
7495,7496,The Darkness,2016,13+,4.4,0.03,Alejandro Amenábar,"Horror,Mystery,Thriller","Spain,United States,France,Italy","English,French",101.0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16739,16740,The Ghosts of Buxley Hall,1980,NaN,6.2,NaN,Bruce Bilson,"Comedy,Family,Fantasy,Horror",United States,English,120.0,0,0,1,0
16740,16741,The Poof Point,2001,7+,4.7,NaN,Neal Israel,"Comedy,Family,Sci-Fi",United States,English,90.0,0,0,1,0
16741,16742,Sharks of Lost Island,2013,NaN,5.7,NaN,Neil Gelinas,Documentary,United States,English,NaN,0,0,1,0
16742,16743,Man Among Cheetahs,2017,NaN,6.6,NaN,Richard Slater-Jones,Documentary,United States,English,NaN,0,0,1,0
16743,16744,In Beaver Valley,1950,NaN,NaN,NaN,James Algar,"Documentary,Short,Family",United States,English,32.0,1,0,0,0

In [16]:
movies_final_MINMAX = movies_final.groupby('Year')[['Rotten Tomatoes']] \
.agg(['min','max']).reset_index()
movies_final_MINMAX[movies_final_MINMAX['Year'] >= 2012]

     Year Rotten Tomatoes
                      min  max
100  2012            0.04  1.0
101  2013            0.02  1.0
102  2014            0.05  1.0
103  2015            0.05  1.0
104  2016            0.02  1.0
105  2017            0.04  1.0
106  2018            0.06  1.0
107  2019            0.05  1.0
108  2020            0.06  1.0

# 3.1.12 Practical activity: Reshaping a DataFrame

Your objective at this stage is to organise the data by:

the film release date and content rating
the title of movies, the directors, and genres by content rating
the title of movies, the released year, and the language by content rating
Netflix screened movies based on language, runtime, and country
the title of movies, specified language, potential runtime, and genres by content rating.

In [17]:
# organise the data by the film release date and content rating
movies_merge.pivot(index='Title', columns='Age', values=['Year'])

                                  Year
Age                                NaN     13+ 16+     18+      7+ all
Title
Inception                          NaN  2010.0 NaN     NaN     NaN NaN
The Matrix                         NaN     NaN NaN  1999.0     NaN NaN
Avengers: Infinity War             NaN  2018.0 NaN     NaN     NaN NaN
Back to the Future                 NaN     NaN NaN     NaN  1985.0 NaN
The Good, the Bad and the Ugly     NaN     NaN NaN  1966.0     NaN NaN
...                                ...     ...  ..     ...     ...  ..
The Ghosts of Buxley Hall       1980.0     NaN NaN     NaN     NaN NaN
The Poof Point                     NaN     NaN NaN     NaN  2001.0 NaN
Sharks of Lost Island           2013.0     NaN NaN     NaN     NaN NaN
Man Among Cheetahs              2017.0     NaN NaN     NaN     NaN NaN
In Beaver Valley                1950.0     NaN NaN     NaN     NaN NaN

[16744 rows x 6 columns]

In [18]:
# organise the data by the title of movies, the directors, and genres by content rating
movies_merge.pivot(index='Title', columns='Age', values=['Directors','Genres'])

                                           Directors                           \
Age                                              NaN                      13+
Title
Inception                                        NaN        Christopher Nolan
The Matrix                                       NaN                      NaN
Avengers: Infinity War                           NaN  Anthony Russo,Joe Russo
Back to the Future                               NaN                      NaN
The Good, the Bad and the Ugly                   NaN                      NaN
...                                              ...                      ...
The Ghosts of Buxley Hall               Bruce Bilson                      NaN
The Poof Point                                   NaN                      NaN
Sharks of Lost Island                   Neil Gelinas                      NaN
Man Among Cheetahs              Richard Slater-Jones                      NaN
In Beaver Valley                         James Algar                      NaN

                                                                     \
Age                             16+                             18+
Title
Inception                       NaN                             NaN
The Matrix                      NaN  Lana Wachowski,Lilly Wachowski
Avengers: Infinity War          NaN                             NaN
Back to the Future              NaN                             NaN
The Good, the Bad and the Ugly  NaN                    Sergio Leone
...                             ...                             ...
The Ghosts of Buxley Hall       NaN                             NaN
The Poof Point                  NaN                             NaN
Sharks of Lost Island           NaN                             NaN
Man Among Cheetahs              NaN                             NaN
In Beaver Valley                NaN                             NaN

                                                      \
Age                                          7+  all
Title
Inception                                   NaN  NaN
The Matrix                                  NaN  NaN
Avengers: Infinity War                      NaN  NaN
Back to the Future              Robert Zemeckis  NaN
The Good, the Bad and the Ugly              NaN  NaN
...                                         ...  ...
The Ghosts of Buxley Hall                   NaN  NaN
The Poof Point                      Neal Israel  NaN
Sharks of Lost Island                       NaN  NaN
Man Among Cheetahs                          NaN  NaN
In Beaver Valley                            NaN  NaN

                                                      Genres  \
Age                                                      NaN
Title
Inception                                                NaN
The Matrix                                               NaN
Avengers: Infinity War                                   NaN
Back to the Future                                       NaN
The Good, the Bad and the Ugly                           NaN
...                                                      ...
The Ghosts of Buxley Hall       Comedy,Family,Fantasy,Horror
The Poof Point                                           NaN
Sharks of Lost Island                            Documentary
Man Among Cheetahs                               Documentary
In Beaver Valley                    Documentary,Short,Family

                                                                       \
Age                                                          13+  16+
Title
Inception                       Action,Adventure,Sci-Fi,Thriller  NaN
The Matrix                                                   NaN  NaN
Avengers: Infinity War                   Action,Adventure,Sci-Fi  NaN
Back to the Future                                           NaN  NaN
The Good, the Bad and the Ugly                               NaN  NaN
...                                                          ...  ...
The Ghosts of Buxley Hall                                    NaN  NaN
The Poof Point                                               NaN  NaN
Sharks of Lost Island                                        NaN  NaN
Man Among Cheetahs                                           NaN  NaN
In Beaver Valley                                             NaN  NaN


Age                                       18+                       7+  all
Title
Inception                                 NaN                      NaN  NaN
The Matrix                      Action,Sci-Fi                      NaN  NaN
Avengers: Infinity War                    NaN                      NaN  NaN
Back to the Future                        NaN  Adventure,Comedy,Sci-Fi  NaN
The Good, the Bad and the Ugly        Western                      NaN  NaN
...                                       ...                      ...  ...
The Ghosts of Buxley Hall                 NaN                      NaN  NaN
The Poof Point                            NaN     Comedy,Family,Sci-Fi  NaN
Sharks of Lost Island                     NaN                      NaN  NaN
Man Among Cheetahs                        NaN                      NaN  NaN
In Beaver Valley                          NaN                      NaN  NaN

[16744 rows x 12 columns]

In [19]:
# organise the data by the title of movies, the released year, and the language by content rating
movies_merge.pivot(index='Title', columns='Age', values=['Year','Language'])

                                Year                             Language  \
Age                              NaN   13+  16+   18+    7+  all      NaN
Title
Inception                        NaN  2010  NaN   NaN   NaN  NaN      NaN
The Matrix                       NaN   NaN  NaN  1999   NaN  NaN      NaN
Avengers: Infinity War           NaN  2018  NaN   NaN   NaN  NaN      NaN
Back to the Future               NaN   NaN  NaN   NaN  1985  NaN      NaN
The Good, the Bad and the Ugly   NaN   NaN  NaN  1966   NaN  NaN      NaN
...                              ...   ...  ...   ...   ...  ...      ...
The Ghosts of Buxley Hall       1980   NaN  NaN   NaN   NaN  NaN  English
The Poof Point                   NaN   NaN  NaN   NaN  2001  NaN      NaN
Sharks of Lost Island           2013   NaN  NaN   NaN   NaN  NaN  English
Man Among Cheetahs              2017   NaN  NaN   NaN   NaN  NaN  English
In Beaver Valley                1950   NaN  NaN   NaN   NaN  NaN  English

                                                                       \
Age                                                 13+  16+      18+
Title
Inception                       English,Japanese,French  NaN      NaN
The Matrix                                          NaN  NaN  English
Avengers: Infinity War                          English  NaN      NaN
Back to the Future                                  NaN  NaN      NaN
The Good, the Bad and the Ugly                      NaN  NaN  Italian
...                                                 ...  ...      ...
The Ghosts of Buxley Hall                           NaN  NaN      NaN
The Poof Point                                      NaN  NaN      NaN
Sharks of Lost Island                               NaN  NaN      NaN
Man Among Cheetahs                                  NaN  NaN      NaN
In Beaver Valley                                    NaN  NaN      NaN


Age                                  7+  all
Title
Inception                           NaN  NaN
The Matrix                          NaN  NaN
Avengers: Infinity War              NaN  NaN
Back to the Future              English  NaN
The Good, the Bad and the Ugly      NaN  NaN
...                                 ...  ...
The Ghosts of Buxley Hall           NaN  NaN
The Poof Point                  English  NaN
Sharks of Lost Island               NaN  NaN
Man Among Cheetahs                  NaN  NaN
In Beaver Valley                    NaN  NaN

[16744 rows x 12 columns]

In [20]:
# organise the data by Netflix screened movies based on language, runtime, and country
movies_final.pivot(index='Title', columns='Netflix', values=['Runtime','Language','Country'])

                               Runtime                        Language  \
Netflix                              0      1                        0
Title
Inception                        148.0    NaN  English,Japanese,French
The Matrix                       136.0    NaN                  English
Avengers: Infinity War           149.0    NaN                  English
Back to the Future                 NaN  116.0                      NaN
The Good, the Bad and the Ugly   161.0    NaN                  Italian
...                                ...    ...                      ...
The Ghosts of Buxley Hall        120.0    NaN                  English
The Poof Point                    90.0    NaN                  English
Sharks of Lost Island              NaN    NaN                  English
Man Among Cheetahs                 NaN    NaN                  English
In Beaver Valley                   NaN   32.0                      NaN

                                                              Country  \
Netflix                               1                             0
Title
Inception                           NaN  United States,United Kingdom
The Matrix                          NaN                 United States
Avengers: Infinity War              NaN                 United States
Back to the Future              English                           NaN
The Good, the Bad and the Ugly      NaN      Italy,Spain,West Germany
...                                 ...                           ...
The Ghosts of Buxley Hall           NaN                 United States
The Poof Point                      NaN                 United States
Sharks of Lost Island               NaN                 United States
Man Among Cheetahs                  NaN                 United States
In Beaver Valley                English                           NaN


Netflix                                     1
Title
Inception                                 NaN
The Matrix                                NaN
Avengers: Infinity War                    NaN
Back to the Future              United States
The Good, the Bad and the Ugly            NaN
...                                       ...
The Ghosts of Buxley Hall                 NaN
The Poof Point                            NaN
Sharks of Lost Island                     NaN
Man Among Cheetahs                        NaN
In Beaver Valley                United States

[16744 rows x 6 columns]

In [21]:
# organise the data by the title of movies, specified language, potential runtime, and genres by content rating.
movies_merge.pivot(index='Title', columns='Age', values=['Runtime','Language','Genres'])

                               Runtime                                 \
Age                                NaN    13+  16+    18+     7+  all
Title
Inception                          NaN  148.0  NaN    NaN    NaN  NaN
The Matrix                         NaN    NaN  NaN  136.0    NaN  NaN
Avengers: Infinity War             NaN  149.0  NaN    NaN    NaN  NaN
Back to the Future                 NaN    NaN  NaN    NaN  116.0  NaN
The Good, the Bad and the Ugly     NaN    NaN  NaN  161.0    NaN  NaN
...                                ...    ...  ...    ...    ...  ...
The Ghosts of Buxley Hall        120.0    NaN  NaN    NaN    NaN  NaN
The Poof Point                     NaN    NaN  NaN    NaN   90.0  NaN
Sharks of Lost Island              NaN    NaN  NaN    NaN    NaN  NaN
Man Among Cheetahs                 NaN    NaN  NaN    NaN    NaN  NaN
In Beaver Valley                  32.0    NaN  NaN    NaN    NaN  NaN

                               Language                                \
Age                                 NaN                      13+  16+
Title
Inception                           NaN  English,Japanese,French  NaN
The Matrix                          NaN                      NaN  NaN
Avengers: Infinity War              NaN                  English  NaN
Back to the Future                  NaN                      NaN  NaN
The Good, the Bad and the Ugly      NaN                      NaN  NaN
...                                 ...                      ...  ...
The Ghosts of Buxley Hall       English                      NaN  NaN
The Poof Point                      NaN                      NaN  NaN
Sharks of Lost Island           English                      NaN  NaN
Man Among Cheetahs              English                      NaN  NaN
In Beaver Valley                English                      NaN  NaN

                                                       \
Age                                 18+       7+  all
Title
Inception                           NaN      NaN  NaN
The Matrix                      English      NaN  NaN
Avengers: Infinity War              NaN      NaN  NaN
Back to the Future                  NaN  English  NaN
The Good, the Bad and the Ugly  Italian      NaN  NaN
...                                 ...      ...  ...
The Ghosts of Buxley Hall           NaN      NaN  NaN
The Poof Point                      NaN  English  NaN
Sharks of Lost Island               NaN      NaN  NaN
Man Among Cheetahs                  NaN      NaN  NaN
In Beaver Valley                    NaN      NaN  NaN

                                                      Genres  \
Age                                                      NaN
Title
Inception                                                NaN
The Matrix                                               NaN
Avengers: Infinity War                                   NaN
Back to the Future                                       NaN
The Good, the Bad and the Ugly                           NaN
...                                                      ...
The Ghosts of Buxley Hall       Comedy,Family,Fantasy,Horror
The Poof Point                                           NaN
Sharks of Lost Island                            Documentary
Man Among Cheetahs                               Documentary
In Beaver Valley                    Documentary,Short,Family

                                                                       \
Age                                                          13+  16+
Title
Inception                       Action,Adventure,Sci-Fi,Thriller  NaN
The Matrix                                                   NaN  NaN
Avengers: Infinity War                   Action,Adventure,Sci-Fi  NaN
Back to the Future                                           NaN  NaN
The Good, the Bad and the Ugly                               NaN  NaN
...                                                          ...  ...
The Ghosts of Buxley Hall                                    NaN  NaN
The Poof Point                                               NaN  NaN
Sharks of Lost Island                                        NaN  NaN
Man Among Cheetahs                                           NaN  NaN
In Beaver Valley                                             NaN  NaN


Age                                       18+                       7+  all
Title
Inception                                 NaN                      NaN  NaN
The Matrix                      Action,Sci-Fi                      NaN  NaN
Avengers: Infinity War                    NaN                      NaN  NaN
Back to the Future                        NaN  Adventure,Comedy,Sci-Fi  NaN
The Good, the Bad and the Ugly        Western                      NaN  NaN
...                                       ...                      ...  ...
The Ghosts of Buxley Hall                 NaN                      NaN  NaN
The Poof Point                            NaN     Comedy,Family,Sci-Fi  NaN
Sharks of Lost Island                     NaN                      NaN  NaN
Man Among Cheetahs                        NaN                      NaN  NaN
In Beaver Valley                          NaN                      NaN  NaN

[16744 rows x 18 columns]